<!--notes la ba3den badna na3melon bi profile el client
history of transactions
nb of ticket reserved
nb of tickets purchased-->
{% extends "template2.html" %}

{% block title %}Balance History{% endblock %}

{% block name %}{{ username }}{% endblock %}
{% block balance %}${{ balance }}{% endblock %}

{% block body %}
    <div class="py-8 px-4 min-h-screen bg-neutral-200 dark:bg-neutral-700">
        
            <div class="container mx-auto">
                <h1 class="text-4xl font-bold text-white mb-4 text-center">History of Transactions</h1>

                {% for entry in transaction_history %}
                    <div class="rounded-lg bg-white shadow-lg dark:bg-neutral-800 p-4 mb-4">
                        {% if entry[3] > 0 %}
                            <p class="text-lg text-neutral-800 dark:text-neutral-200 text-center">
                                {{ entry[2].strftime('%d/%m/%Y') }}: ${{ entry[3] }} added to your balance at {{ entry[2].strftime('%H:%M:%S') }}
                            </p>
                        {% else %}
                            <p class="text-lg text-neutral-800 dark:text-neutral-200 text-center">
                                {{ entry[2].strftime('%d/%m/%Y') }}: ${{ entry[3]|abs }} removed to your balance at {{ entry[2].strftime('%H:%M:%S') }}
                            </p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        
    </div>
{% endblock %}