{% extends "template2.html" %}

{% block title %}Reviews{% endblock %}

{% block name %}{{ username }}{% endblock %}
{% block balance %}${{ balance }}{% endblock %}

{% block body %}

<body >



    <div class=" text-white font-poppins py-8 px-4 min-h-screen bg-neutral-200 dark:bg-neutral-700">

        <h1 class="ml-2 text-3xl my-8">Make sure to leave/check Reviews!</h1>
        <div class="flex items-center justify-center mb-24">
            <button id="toggleSearchButton"
                class="bg-white text-white rounded-full focus:rounded-l-full px-4 py-2 rounded-md mr-2 transition-all duration-300">
                <img src="{{url_for('static', filename='Icons/Search.png')}}">
            </button>

            <input type="text" id="searchInput"
                class="hidden text-pink-500 h-12  rounded-r-full focus:rounded-r-full border border-pink-300"
                placeholder="Search for reviews by movie" />

            <button id="writeReview"
                class=" text-white rounded-full px-4 py-2 rounded-md mr-2 hover:scale-150 transition-all duration-300">
                <img src="{{url_for('static', filename='Icons/Add.png')}}">
            </button>
        </div>

        <div id="reviewFormContainer" class="hidden my-12 flex justify-center text-pink-600">
            <form id="reviewForm" class="bg-white p-4 rounded-md  " method='post'  action="{{url_for('upload_review')}}" onsubmit="return validateForm()">
                <label for="movieName" class="block mb-2 text-gray-800">Movie Name:</label>
                <div class="relative ">
                    <select id="movieName"  size="4" name="movieName" class="w-full p-2 mb-2  rounded-md border border-gray-300" required>
                        <option value="" disabled selected>Select a Movie</option>
                        <!-- Replace the following options with your actual list of movies -->
                        {% for movie in movies %}
                            <option value="{{ movie[0] }}">{{ movie[0] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label for="reviewText" class="block mb-2 text-gray-800">Review:</label>
                <textarea id="reviewText" name="reviewText"  required
                    class="w-full p-2 mb-4 rounded-md border border-gray-300"></textarea>
                    <div class="flex justify-center ">
                        <button type="submit" id="submitReview" class=" bg-pink-500 text-white px-4 py-2 rounded-md">
                            Submit Review
                        </button>
                    </div>
                       
                    
            </form>
        </div>


        <div id="searchReviewsContainer"
            class="mb-24 scroll-container overflow-x-scroll overflow-y-hidden whitespace-nowrap w-full scrollbar hidden scrollbar-thumb-pink-500 scrollbar-track-gray-100">
            <div
                class="inline-block mt-6 mb-12 bg-gradient-to-l from-pink-500 to-purple-700 rounded-xl mr-4 w-full lg:w-2/5 h-80 overflow-hidden ">
                <!-- Dynamic reviews will be dynamically added here -->
            </div>
        </div>

        <h1 class="ml-2 text-3xl my-8">Recent Reviews</h1>
        <div class="mb-24">
            <div
                class="scroll-container overflow-x-scroll overflow-y-hidden whitespace-nowrap w-full scrollbar  scrollbar-thumb-pink-500 scrollbar-track-gray-100   ">
                {%for review in reviews%}
                <div
                    class="inline-block mt-6 mb-12 bg-gradient-to-l from-pink-500 to-purple-700 rounded-xl mr-4 w-full lg:w-2/5 h-80 overflow-hidden ">
                    <div class="p-4">
                        <div class="flex items-center mb-2 ">
                            <div class=" mr-2">
                                <img src="{{ url_for('static', filename='Icons/User.png') }}" class="scale-125">
                            </div>
                            <p class="text-2xl ml-2">{{ review['username'] }}</p>
                        </div>
                        <div class="flex items-center pt-2 ">
                            <div class="mr-2">
                                <img src="{{ url_for('static', filename='Icons/Movie.png') }}" class="h-8">
                            </div>
                            <p class="italic"> {{review['title']}}</p>
                        </div>

                        <p class="my-4  overflow-hidden whitespace-pre-wrap break-words">{{ review['review'] }}</p>

                        <div class="flex justify-end items-end mt-12 lg:mt-16">
                            <p id="timeDiv" class="text-right opacity-50"> {{ review['timestamp'] }} </p>
                        </div>


                    </div>

                </div>

                {%endfor%}

            </div>


        </div>

        

    </div>
    <!--submit-->
     <script>
        document.addEventListener('DOMContentLoaded', function () {
            const writeReviewButton = document.getElementById('writeReview');
            const reviewFormContainer = document.getElementById('reviewFormContainer');
            const movieNameInput = document.getElementById('movieName');
            const suggestionsList = document.getElementById('suggestionsList');
            const reviewText = document.getElementById('reviewText');
            const submitReviewButton = document.getElementById('submitReview');
    
            // Toggle the visibility of the review form container
            writeReviewButton.addEventListener('click', function () {
                reviewFormContainer.classList.toggle('hidden');
            });
    
        })
            function validateForm() {
                var selectedMovie = document.getElementById('movieName').value;
        
                if (selectedMovie === "") {
                    alert("Please select a movie");
                    return false; // Prevent form submission
                }
                var userConfirmation = window.confirm("Are you sure you want to submit your review?");
                if (userConfirmation) {
                    // User clicked "OK"
                    console.log("User confirmed. Proceeding with the action.");
                    alert("Your review has been submitted successfully")
                    return true;
                } else {
                    // User clicked "Cancel" or closed the dialog
                    console.log("User canceled. No action taken.");
                    return false;
                }
                
                return true; // Allow form submission
            }
    </script>
    
    <!--the search div-->
    <script>
        const searchInput = document.getElementById('searchInput');
        const reviewsContainer = document.getElementById('searchReviewsContainer');


        function filterReviews(searchTerm) {
            fetch(`/api/reviews?movie=${searchTerm}`)
                .then(response => response.json())
                .then(data => displayReviews(data));
        }

        function displayReviews(reviewsToDisplay) {
            reviewsContainer.innerHTML = '';

            reviewsToDisplay.forEach(review => {
                const reviewDiv = document.createElement('div');
                reviewDiv.className = 'inline-block mt-6 mb-12 bg-gradient-to-l from-pink-500 to-purple-700 rounded-xl mr-4 w-full lg:w-2/5 h-80 overflow-hidden';

                const innerDiv = document.createElement('div');
                innerDiv.className = 'p-4';

                const writerDiv = document.createElement('div');
                writerDiv.className = 'flex items-center mb-2';

                const writerImageDiv = document.createElement('div');
                writerImageDiv.className = 'mr-2';

                const writerImage = document.createElement('img');
                writerImage.src = "{{ url_for('static', filename='Icons/User.png') }}";
                writerImage.className = 'scale-125';

                writerImageDiv.appendChild(writerImage);
                writerDiv.appendChild(writerImageDiv);

                const writerParagraph = document.createElement('p');
                writerParagraph.className = 'text-2xl ml-2';
                writerParagraph.textContent = review['username'];
                writerDiv.appendChild(writerParagraph);

                innerDiv.appendChild(writerDiv);

                const movieDiv = document.createElement('div');
                movieDiv.className = 'flex items-center pt-2';

                const movieImageDiv = document.createElement('div');
                movieImageDiv.className = 'mr-2';

                const movieImage = document.createElement('img');
                movieImage.src = "{{ url_for('static', filename='Icons/Movie.png') }}";
                movieImage.className = 'h-8';

                movieImageDiv.appendChild(movieImage);
                movieDiv.appendChild(movieImageDiv);

                const movieParagraph = document.createElement('p');
                movieParagraph.className = 'italic';
                movieParagraph.textContent = review['title'];
                movieDiv.appendChild(movieParagraph);

                innerDiv.appendChild(movieDiv);

                const reviewParagraph = document.createElement('p');
                reviewParagraph.className = 'my-4 overflow-hidden whitespace-pre-wrap break-words';
                reviewParagraph.textContent = review['review'];
                innerDiv.appendChild(reviewParagraph);

                const timestampDiv = document.createElement('div');
                timestampDiv.className = 'flex justify-end items-end mt-12 lg:mt-16';

                const timestampParagraph = document.createElement('p');
                timestampParagraph.className = 'text-right opacity-50';
                timestampParagraph.textContent = review['timestamp'];

                timestampDiv.appendChild(timestampParagraph);
                innerDiv.appendChild(timestampDiv);

                reviewDiv.appendChild(innerDiv);

                reviewsContainer.appendChild(reviewDiv);
            });
        }

        searchInput.addEventListener('input', function () {
            filterReviews(searchInput.value);
        });

        // Initial display of all reviews
        filterReviews(''); // This fetches all reviews initially
    </script>

    <!--for the search button-->
    <script>
        const input = document.getElementById('searchInput');  
        const toggleSearchButton = document.getElementById('toggleSearchButton');

        toggleSearchButton.addEventListener('click', function () {
            // Toggle the visibility of the search input and container
            input.classList.toggle('hidden');
            reviewsContainer.classList.toggle('hidden'); // Access the global reviewsContainer variable
        });


    </script>
    
   
    
    


</body>
{% endblock %}